[submodule ".registry"]
	path = .registry
	url = https://github.com/dotmonk/dotmonk.r-universe.dev
	branch = HEAD
[submodule "wildling"]
	path = wildling
	url = https://github.com/dotmonk/wildling
	subdir = r
